body{
    background-color: rgb(232, 232, 232);
    color:rgb(28, 28, 28);
    font-family: 'Noto Serif', Helvetica, sans-serif;
    font-size: 1rem;
}
header {
    color:rgb(28, 28, 28);
    width: 100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

a{
    color:rgb(155, 23, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(155, 23, 0);
    opacity:0.5;
}
nav a{
    color: rgb(28, 28, 28);
}
header nav a{
    font-weight: 700;
}
nav a:hover{
    color: rgb(28, 28, 28);
    opacity: 0.5;
}
footer a{
    color: rgb(255,255,255)
}
button a{
    color: rgb(255,255,255)
}
button a:hover{
    color: rgb(28, 28, 28); 
}
header nav a:hover{
    font-weight: bold;
}
nav{
    font-family: 'Open Sans', Helvetica, sans-serif;
}

header nav ul{
    padding:0;
    list-style: none;
}
header nav ul li{
    padding: 0;
    text-align: center;;
}
header button{
    color: white;
    background-color: rgb(155, 23, 0);
    width: 100px;
    height: 40px;
    margin: 0 0 10px 0;
}
#enlacecabecera{
    display: block;
    height:45px;
    background: url(../img/oscarsclub-isologo.png) no-repeat;
    padding-left: 50px;
    font-size: 1.4rem;
    background-size:40px; /*30px*/
    background-position: left top;
    color: rgb(28, 28, 28);
}

@media screen and (max-width: 850px){
footer {
    height: 300px;
    background-color: rgb(67, 58, 68);
    color: white;
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#primera{
    margin-top: 30px;
}
footer ul{
    list-style: none;
    padding:0;
}
footer ul li{
    text-align: center;
    padding:0;
}
#infofooter p{
    margin:0;
    text-align: center;
}
#contenidor{
    margin:0 5px 5px auto;
}
}

h1{
    text-align: center;
}
h3{
    font-size: 1.2rem
}
h2{
    font-size: 1.4rem;
}
/* PÁGINA DE INICIO*/
#funcionamiento{
    display:flex;
    align-items: center;
    flex-direction: column;
}
#funcionamiento figure{
    max-width: 50%;
    max-height: 50%;
}
#funcionamiento figure img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
figure{
    text-align: center;
    margin: 0 40px 0 40px;
}
form{
    font-family: 'Open Sans', Helvetica, sans-serif;
}
form button{
    background-color: rgb(155, 23, 0);
    color:rgb(252,252,252);
    padding: 13px 22px;
    border-radius: 4px;
    border:none;
    font-size:0.7rem;
    width: auto;
    margin: 20px 0 20px 0;
}

#oscars{
    text-align: center;
}

#textounete{
    font-size: 1.2rem;
}
form ul li{
    padding-left:0;
    margin: 5px 0 5px 0;
}
form ul li input{
    width: 100%;
    height: 100%;
    border-style: none solid none solid;
    padding-left:0;
}
form ul{
    list-style: none;
    padding-left:0;
}
#formulario form p{
    font-size: 0.5rem;
}

/*CLUBES TEMÁTICOS*/
#clubes{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#clubes figure{
    display: table;
    /*min-height: 80px;*/
    min-width: auto;
    max-width: auto;
    max-height: 100%;
}
#clubes figure img{
    max-width: 100%;
    max-height: 100%;
    display:block;
}
#clubes figcaption{
    display: table-caption;
    caption-side: bottom;
    text-align: left;
    /*width: 100%;*/
}
#clubes figure figcaption a{
    display: block;
    margin:10px 0 10px 0;
    color: rgb(155, 23, 0);
}
.tituloclubes{
    font-size:1.1rem;
    margin: 5px 0 5px 0;
}

/*SESIONES 2020*/

.menulateral ul{
    list-style: none;
    padding-left: 0;
    display: block;
}
.menulateral ul li{
    margin: 5px 0 5px 0;
    text-align: left;
    font-size: 0.9rem;
}
.club{
    display:flex;
    flex-direction: column;
}

.club figure{
    margin:auto;
    margin-bottom: 10px;
    height: 280px;
    width: 180px;
    display: table;
    background-color: white;
}
#OtraEpoca figure{
    height:310px;
}
.club figure img{
    width: 100%;
    height: 100%;
    display: block;
    margin:0;
}
.club figure img:hover{
    opacity:0.5;
}
.club figure figcaption{
    display:table-caption;
    caption-side: bottom;
    background-color: white;
    text-align: left;
    color:rgb(155, 23, 0);
    font-weight: bold;
    height: auto;
    margin:auto;
}

.titulosesiones{
    font-family:'Open Sans', Helvetica, sans-serif;
}

/*DETALLE DE SESION*/
.titulopelicula{
    text-align: left;
}

#Ariadna{
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.noactiu{
    opacity: 0.5;
}
.fichatecnica p{
    margin-top:4px;
    margin-bottom:4px;
}
h4{
    margin-bottom:7px;
    margin-top:7px;
    border-bottom: solid;
    border-width: 1px;
}
.infopeliculas .circular{
    float: left;
    margin-right: 20px;
    shape-outside: circle(50%);
}

.infopeliculas .circular img{
    border-radius: 50%;
    height: 120px;
}
.infopeliculas figure figcaption{
    text-align: left;
    font-style: italic;
}
.infopeliculas figure{
    display:block;
    width:auto;
    height:auto;
}
figure iframe{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
/*------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 850px){
header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo menunav boton";
    height: 90px;
}
header nav{
    margin:0;
}
header nav ul{
    display:flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto 0 auto;
    margin-left:auto;
    margin-right: auto;
    grid-area: menunav;
}
header nav ul li{
    padding: 5px;
}
header button{
    grid-area: boton;
    width: 30%;
    height: 40%;
    margin:0 0 0 auto;
}
 #enlacecabecera{
    grid-area: logo;
    margin:0;
}  
footer{
    height: 130px;
    background-color: rgb(67, 58, 68);
    color: white;
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "informacion redes";
    overflow: auto;
}
footer ul{
    display: inline-block;
    padding:0;
    margin:0;
}
#primera{
    grid-area: informacion;
    margin-top: 20px;
}
footer ul li{
    float:left;
    margin:0;
    list-style: none;
    margin: 0 15px 0 5px;
}
footer ul .disco{
    list-style: disc;
}
#segunda{
    grid-area: redes;
    margin-left: auto;
    margin-top: 20px;
}

#infofooter{
    font-size: 0.6rem;
    margin-top:50px;
    margin-left: 10px;
    grid-area: informacion;
}
#contenidor{
    grid-area: redes;
    margin-right:5px;
    margin-left:auto;
    margin-top:80px;
    margin-bottom:0;
}
#contenidor p{
    font-size: 1.4rem;
    margin:0;
}

main{
    width:75vw;
    margin:auto;
}

/*ÍNDEX*/
#oscars{
    text-align: center;
    margin:0 100px 0 100px;
}
#funcionamiento{
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#funcionamiento figure{
    max-width: 15%;
    max-height: 15%;
}
#funcionamiento figure img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#unete{
    display:flex;
    flex: 1;
}
#textounete{
    width: 300px;
    margin-right:auto;
}
#formulario{
    margin-left: 70px;

}

form{
    margin-left: auto;
    width: 250px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form ul li input{
    width: 250px;
    height: 30px;
}

form ul li{
    margin: 10px 0 0 0;
    padding:0;
}

form #terminos{
    font-size:0.5rem;
    width: 250px;
    padding:0;
}

form button{
    margin-right: auto;
}
/*CLUBES TEMÁTICOS */
#clubes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
#clubes figure{
    display: table;
    max-height:100%;
    max-width:100%;
}

/*SESIONES 2020*/

#sesiones2020{
    display: grid;
    grid-template-areas: "sidebar sesions";
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    border-top-style: dotted;
}
#propuestas{
    margin:0 70px 40px 70px;
}
.menulateral{
    grid-area: sidebar;
}

#sesiones2020 article{
    grid-area:sesions;
}
.sesiones{
    margin-top: 40px;
}
.club{
    flex-direction: row;
}

.club figure{
    margin:auto;
    height: 280px;
    width: 180px;
    display: table;
    background-color: white;
}
#OtraEpoca figure{
    height:310px;
}
.club figure img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin:0;
}

.club figure figcaption{
    margin:0;
}

/*DETALLE DE SESION */
.pelicula{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: "datos texto";
    grid-gap: 40px;
}
.fichatecnica{
    grid-area: datos;
}


.infopeliculas{
    grid-area: texto;
}
iframe{
    min-width: 510px;
    min-height: 335px;
    max-width: 100%;
    max-height: 100%;
}

}

.vermell{
    color: rgb(155, 23, 0);
}
.negrita{
    font-weight: bold;
}
.cursiva{
    font-style: italic;
}
